
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Arimo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #2c2e2f;
    background-color: #fff;
}
